@import "compass";

$black-base: #000;
$body-bg: #fff;
$default-border: #d0dede;
$progress-lila: #9c6ddd;
$progress-success: #a4d323;
$tab-bg: #f8f9fb;
$tab-primary-active: #019bff;
$link-color: #787878;

$font-size-base: 14px;
$font-size-large: 16px;
$font-size-small: 12px;

$font-size-h1: 23px;
//$font-size-h2:20px;
//$font-size-h3:18px;
$font-size-h4:12px;

/***Fonts***/
$font-family-300: 300;
$font-family-400: 400;
$font-family-700: 700;
$font-family-900: 900;



