@import "base";

%height {
    height: 100%;
}

html {
    @extend %height;

    body {
        font-family: 'Lato', sans-serif !important;
        color: $black-base;
        @extend %height;

        .container {
            width: 100% !important;
            @extend %height;
            padding: 0;
        }

        a {
            color: $link-color;
            font-size: $font-size-base;
            text-decoration: none;

            &:hover {
                color: $black-base;
            }
        }
    }
}





/* pages */
@import "pages/home";
@import "pages/topics";


/* layout */
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/grid";


/* components */
@import "components/navigation";
@import "components/secondary_content";



/* helpers */
@import "helpers/mixins";
@import "helpers/variables";


/* vendors */
@import "vendors/bootstrap";

/* responsive */
@import "responsive";