@import "base";

body {
    font-family: 'Lato', sans-serif!important;
    color: $black-base;

    a {
        color: $link-color;
        font-size: $font-size-base;
        text-decoration: none;

        &:hover {
            color: $black-base;
        }
    }
}







/* pages */
@import "pages/home";
@import "pages/topics";


/* layout */
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/grid";


/* components */
@import "components/navigation";


/* helpers */
@import "helpers/mixins";
@import "helpers/variables";


/* vendors */
@import "vendors/bootstrap";

/* responsive */
@import "responsive";